*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.div{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.div-0{
  width: min(25% , 300px);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0% 12px;
}
.medzo{
  text-align: center;
  padding: 12px 0px;
}
.medzo img{
  width: min(100% , 150px);
}
.sidenav{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sidenav div{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  padding: 24px;
  text-align: center;
  border-radius: 50px;
  gap: 12px;
}
.fa-house, .fa-file{
  color:rgb(121, 106, 106);
}
.sidenav div:nth-child(3){
  background-color: #ffaf38;
}
  .div-1 {
    border-radius: 22px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .div-2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding: 12px 0px;
  }
  .div-3 {
    margin: 4px 0px;
    font: 600 16px Urbanist, sans-serif;
  }
  .div-4 {
    color: var(--1, #ffaf38);
    font: 400 16px Urbanist, sans-serif;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 12px;
  }
  form div{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  label{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    color: #000000a0;
  }
  input{
    border: 1px solid rgba(0, 0, 0, 0.459);
    border-radius: 3px;
    padding: 6px;
  }
  .div-5 {
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .div-6 {
    justify-content: center;
    border-radius: 5px;
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 16px;
    color: var(--3, #111a34);
    font-weight: 700;
    padding: 16px 9px;
  }
  .div-7 {
    display: flex;
    justify-content: space-between;
    font-family: Urbanist, sans-serif;
    padding: 0% 12px;
  }
  .div-8 {
    font-family: Urbanist, sans-serif;
  }
  .img-2 {
    aspect-ratio: 1.69;
    object-fit: auto;
    object-position: center;
    width: 17px;
    margin: auto 0;
  }
  .div-9 {
    color: var(--3, #111a34);
    text-align: center;
    margin-top: 4px;
    font: 500 16px Urbanist, sans-serif;
  }
  .div-10 {
    align-items: start;
    border-radius: 7.279px;
    border: 0.91px solid var(--3, #111a34);
    background-color: var(--Color-4, #fff);
    margin-top: 4px;
    width: 314px;
    max-width: 100%;
    justify-content: center;
    color: var(--3, #111a34);
    white-space: nowrap;
    text-align: center;
    padding: 16px 60px 16px 12px;
    font: 400 16px Urbanist, sans-serif;
  }
  .div-11 {
    color: var(--3, #111a34);
    text-align: center;
    margin-top: 4px;
    font: 500 16px Urbanist, sans-serif;
  }
  .div-12 {
    align-items: start;
    border-radius: 7.279px;
    border: 0.91px solid var(--3, #111a34);
    background-color: var(--Color-4, #fff);
    margin-top: 4px;
    width: 314px;
    max-width: 100%;
    justify-content: center;
    color: var(--3, #111a34);
    white-space: nowrap;
    text-align: center;
    padding: 16px 60px 16px 12px;
    font: 400 16px Urbanist, sans-serif;
  }
  .div-13 {
    color: var(--3, #111a34);
    text-align: center;
    margin-top: 4px;
    font: 500 16px Urbanist, sans-serif;
  }
  .div-14 {
    align-items: start;
    border-radius: 7.279px;
    border: 0.91px solid var(--3, #111a34);
    background-color: var(--Color-4, #fff);
    margin-top: 4px;
    width: 314px;
    max-width: 100%;
    justify-content: center;
    color: var(--3, #111a34);
    white-space: nowrap;
    text-align: center;
    padding: 16px 60px 16px 12px;
    font: 400 16px Urbanist, sans-serif;
  }
  .div-15 {
    color: var(--3, #111a34);
    text-align: center;
    margin-top: 4px;
    font: 500 16px Urbanist, sans-serif;
  }
  .img-3 {
    aspect-ratio: 6.25;
    object-fit: auto;
    object-position: center;
    width: 314px;
    margin-top: 4px;
    max-width: 314px;
  }
  .div-16 {
    color: #000;
    text-align: center;
    align-self: end;
    white-space: nowrap;
    margin: 10px 23px 0 0;
    font: 400 12px Urbanist, sans-serif;
  }
  .div-17 {
    justify-content: center;
    border-radius: 5px;
    background-color: var(--Color-4, #fff);
    align-self: stretch;
    display: flex;
    margin-top: 16px;
    width: 100%;
    flex-direction: column;
    font-size: 16px;
    color: var(--3, #111a34);
    font-weight: 700;
    padding: 16px 9px;
  }
  .div-18 {
    justify-content: space-between;
    display: flex;
    gap: 20px;
  }
  .div-19 {
    font-family: Urbanist, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  .img-4 {
    aspect-ratio: 1.69;
    object-fit: auto;
    object-position: center;
    width: 17px;
    margin: auto 0;
  }
  .staffs{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px 12px;
  }
  .div-20 {
    border-radius: 18.719px;
    box-shadow: 0px 1.872px 2.808px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--Color-4, #fff);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
  }
  .div-21 {
    justify-content: space-between;
    display: flex;
    width: 100%;
    gap: 20px;
  }
  .div-22 {
    display: flex;
    justify-content: space-between;
    gap: 11px;
    color: var(--3, #111a34);
    white-space: nowrap;
  }
  .img-5 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 45px;
  }
  .div-23 {
    align-self: start;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .div-24 {
    font: 700 15px Urbanist, sans-serif;
  }
  .div-25 {
    margin-top: 10px;
    font: 400 13px Urbanist, sans-serif;
  }
  .div-26 {
    justify-content: center;
    align-items: center;
    border-radius: 46.797px;
    background-color: var(--3, #111a34);
    display: flex;
    aspect-ratio: 1;
    width: 37px;
    height: 37px;
    margin: auto 0;
    padding: 0 8px;
  }
  .img-6 {
    aspect-ratio: 0.95;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .div-27 {
    border-radius: 18.719px;
    box-shadow: 0px 1.872px 2.808px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--Color-4, #fff);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
  }
  .div-28 {
    justify-content: space-between;
    display: flex;
    width: 100%;
    gap: 20px;
  }
  .div-29 {
    display: flex;
    justify-content: space-between;
    gap: 11px;
    color: var(--3, #111a34);
    white-space: nowrap;
  }
  .img-7 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 45px;
  }
  .div-30 {
    align-self: start;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .div-31 {
    font: 700 15px Urbanist, sans-serif;
  }
  .div-32 {
    margin-top: 10px;
    font: 400 13px Urbanist, sans-serif;
  }
  .div-33 {
    justify-content: center;
    align-items: center;
    border-radius: 46.797px;
    background-color: var(--3, #111a34);
    display: flex;
    aspect-ratio: 0.97;
    width: 38px;
    height: 38px;
    margin: auto 0;
    padding: 0 8px;
  }
  .img-8 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .div-34 {
    display: flex;
    gap: 10px;
    padding: 12px;
    margin: 12px;
    width: fit-content;
    border-radius: 50px;
    border: none;
    background-color: rgb(9, 214, 9);
  }
  .div-35 {
    font-family: Urbanist, sans-serif;
  }
  .img-9 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 10px;
    fill: var(--3, #111a34);
    margin: auto 0;
  }
  .div-37 {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }
  .div-38 {
    font-family: Urbanist, sans-serif;
  }
  .img-10 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }

  /* menu icons */
  .div-66 {
    position: fixed;
    bottom: 0%;
    border-radius: 15px 15px 0 0;
    background-color: var(--1, #ffaf38);
    width: 100%;
    padding: 25px 41px;
  }
  .div-67 {
    display: flex;
    justify-content: space-between;
  }
  .fa-house, .fa-file{
    color:rgb(121, 106, 106);
  }
  @media all and (max-width:480px) {
    .div-0{
      display: none;
    }
  }
  @media all and (min-width:481px) {
    .div-66{
      display: none;
    }
    .sidenav div{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
  }
  @media all and (min-width:769px) {
    .sidenav{
      align-items: flex-start;
    }
    .sidenav div{
      flex-flow: row nowrap;
    }
  }

  /* details{
    background-color: #ffaf38;
    padding: 10px;
  }
  details summary{
    margin-bottom: -10px;
    transition: margin 1s ease-out;
    list-style-type: '<i class="fa-solid fa-angle-down"></i>';
  }
  details summary::after{
    content: '';
  }
  details[open] summary{
    margin-bottom: 10px;
  }
  details[open] summary span{
    content: '';
    content:'<i class="fa-solid fa-angle-up"></i>';
  } */