*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.div{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.div-1{
  width: min(25% , 300px);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0% 12px;
}
.medzo{
  text-align: center;
  padding: 12px 0px;
}
.medzo img{
  width: min(100% , 150px);
}
.sidenav{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sidenav div{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  padding: 24px;
  text-align: center;
  border-radius: 50px;
  gap: 12px;
}
.fa-house, .fa-user{
  color:rgb(121, 106, 106);
}
.sidenav div:nth-child(2){
  background-color: #ffaf38;
}
  .div-2 {
    background-color: var(--f-5-f-7-f-6, #f6f6f6);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center; 
    margin: 0 auto;
  }
  .div-3 {
    margin: 12px 0px;
    white-space: nowrap;
    font-family: Tahoma, Verdana, sans-serif;
    font-variant: small-caps;
    font-size: large;
    font-weight: 900;
    letter-spacing: 2px;
    word-spacing: 5px;
  }
  .div-4 {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: 10px 0px;
    padding: 0px 10px;
    gap: 8px;
  }
  .div-5 {
    border: 1px solid rgba(0, 0, 0, 0.548);
    border-radius: 50px;
    background-color: var(--Color-4, #fff);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    padding: 10px 16px;
  }
  .div-6 {
    justify-content: space-between;
    display: flex;
    width: 100%;
    gap: 20px;
  }
  #search{
    border: none;
    outline: none;
    width: 100%;
  }
  #search::placeholder{
    opacity: 0.7;
    font-size: medium;
  }
  .div-10 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
    background-color: var(--1, #ffaf38);
    width: 50px;
    height: 50px;
  }
  .div-11 {
    display: flex;
    justify-content: space-between;
    font-family: Urbanist, sans-serif;
    margin-top: 8px;
    width: 100%;
    gap: 3%;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
    padding: 0 10px;
  }
  .div-12 {
    width: 50%;
    border-radius: 3.75px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--1, #ffaf38);
    color: var(--4, var(--Color-4, #fff));
    padding: 8px 0px;
    text-align: center;
  }
  .div-13 {
    width: 50%;
    border-radius: 3.75px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    padding: 8px 0px;
    text-align: center;
  }
  .div-14 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0px;
    width: 100%;
    padding: 0 10px;
  }
  .div-15 {
    font: 600 18px Urbanist, sans-serif;
  }
  .div-16 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--1, #ffaf38);
    height: 36px;
    width: 36px;
    color: white;
    white-space: nowrap;
    font: 400 14px Roboto, sans-serif;
  }
  .list{
    width: 100%;
    height: calc(100vh - 270px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0% 12px;
  }
  .list::-webkit-scrollbar{
    width: 0px;
  }
  .div-17 {
    border-radius: 6px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 12px 9px;
  }
  .div-18 {
    justify-content: space-between;
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 0 1px;
  }
  .div-19 {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    color: var(--3, #111a34);
  }
  .img-4 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 47px;
  }
  .div-20 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .div-21 {
    white-space: nowrap;
    font: 700 16px Urbanist, sans-serif;
  }
  .div-22 {
    margin-top: 11px;
    font: 400 14px Urbanist, sans-serif;
  }
  .div-23 {
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #6b6b6b;
    display: flex;
    width: 40px;
    height: 40px;
    margin: auto 0;
    padding: 0 12px;
  }
  .img-5 {
    aspect-ratio: 0.76;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  
  .div-66 {
    position: fixed;
    bottom: 0%;
    border-radius: 15px 15px 0 0;
    background-color: var(--1, #ffaf38);
    width: 100%;
    padding: 25px 41px;
  }
  .div-67 {
    display: flex;
    justify-content: space-between;
  }

  @media all and (max-width:480px) {
    .div-1{
      display: none;
    }
  }
  @media all and (min-width:481px) {
    .div-66{
      display: none;
    }
    .list{
      height: calc(100vh - 220px);
    }
    .sidenav div{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
  }
  @media all and (min-width:769px) {
    .sidenav{
      align-items: flex-start;
    }
    .sidenav div{
      flex-flow: row nowrap;
    }
  }